packages/
node_modules/
bin/
obj/
temp/
dist/
mock/
wwwroot/
publish/
gh-pages/
Properties/
Settings/
TestResults/
tests/e2e/videos/
tests/e2e/screenshots/
coverage/


*.log
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.cache
*.com
*.class
*.dll
*.dll.config
*.exe
*.pdb





